@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';

h1 {
	color: #ffffff;
	background-color: #0881b3;
	text-align: center;
}

p {
	text-size: 30px;
	text-family: Arial;
	color: deepBlue;
}
	
